<h2>Create Category</h2>
<h4>Category Details</h4>
<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form asp-action="Add" method="post">
                <div class="card mt-5">
                    <div class="card-header">
                        Category Create
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="CategoryName">Category Name</label>
                            <input class="form-control" type="text" name="CategoryName" id="CategoryName" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>