﻿<h4>Create page</h4>
<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div class="card mt-5">
                    <div class="card-header">
                        BlogImage Create
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input class="form-control" type="number" name="BlogId" id="BlogId" />

                            <input class="form-control" accept="image/png, image/gif, image/jpeg" type="file" name="ImageUrl" id="ImageUrl" />
                            <br />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .blog-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Make the container take the full height of the screen */
        margin-top: -50px; /* Adjust this value to avoid overlapping with the header */
    }
    .form-center {
        text-align: center;
        padding: 20px;
    }
</style>