@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="blog-container">
    <h1>Blog page!</h1>
</div>

<!-- Add this CSS -->
<style>
    .blog-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Full viewport height */
        margin-top: -50px; /* Adjust to ensure it's not colliding with the header */
    }

    h1 {
        padding: 20px;
        text-align: center;
    }
</style>
