@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>About page!</h1>
<style>
    .index-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Make the container take the full height of the screen */
        margin-top: -50px; /* Adjust this value to avoid overlapping with the header */
    }
    .text-center {
        text-align: center;
        padding: 20px;
    }
</style>